---
---
<!-- The source code for this website can be found at {{ site.data.meta.source-url }} -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.data.me.name }} - {{ site.data.me.handle }}</title>
  <link rel="shortcut icon" href="fav.png" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>{{ site.data.me.name }}</h1>
    <div style="word-wrap: anywhere">
      <address style="display: inline">
        <a href="mailto:{{ site.data.me.email }}">david<b>@astrosticks</b>.net</a>
      </address>
    </div>
  </header>
  <div id="external-links">
    <h2 class="m-top">Profiles</h2>
    <ol>
      <li>
        {% include shortcut.liquid id="gitlab" %},
        {% include shortcut.liquid id="github" %}
      </li>
      <li>{% include shortcut.liquid id="scratch" %}</li>
      <li>{% include shortcut.liquid id="youtube" %}</li>
      <li>{% include shortcut.liquid id="letterboxd" %}</li>
    </ol>
    <h2 class="m-top">Projects</h2>
    <ol>
      <li>{% include shortcut.liquid id="prairielearn" %}</li>
      <li>{% include shortcut.liquid id="scratchybot" %}</li>
      <li>{% include shortcut.liquid id="record-swap" %}</li>
      <li>{% include shortcut.liquid id="idea-store" %}</li>
    </ol>
  </div>
  <div id="copyright" class="m-top">
    <span>
      &#x263A;&#xFE0E;
      {{ 'now' | date: "%Y" }}
      {{ site.data.me.name }}
    </span>
    - 
    <a href="{{ site.data.meta.license-url }}">{{ site.data.meta.license-name }}</a>
    - 
    <a href="{{ site.data.meta.source-url }}">Source</a>
  </div>
</body>
</html>
